name: lint

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/lint.yml'
      - '.golangci.yml'
      - '**.go'
      - 'go.*'
      - 'Makefile'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/lint.yml'
      - '.golangci.yml'
      - '**.go'
      - 'go.*'
      - 'Makefile'

permissions:
  contents: read

jobs:
  lint:
    name: golang
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: lint
        uses: golangci/golangci-lint-action@v9.0.0
        with:
          version: latest
          args: --timeout=2m0s
          skip-cache: true
        env:
          GOEXPERIMENT: synctest

  modernize:
    name: modernize
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: moderize
        run: |
          GOEXPERIMENT=synctest go run golang.org/x/tools/gopls/internal/analysis/modernize/cmd/modernize@latest -test ./...

  checklocks:
    name: checklocks
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: checklocks
        run: |
          make checklocks

  dependencies:
    name: dependencies
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: Check minimum supported version of Go
        run: |
          go mod tidy -go=1.24.0 -compat=1.24.0

      - name: Check go.mod / go.sum
        run: |
          git add go.*
          git diff --cached --exit-code go.*
