name: tarball

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/tarball.yml'
      - '**.go'
      - 'go.*'
      - 'Makefile'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/tarball.yml'
      - '**.go'
      - 'go.*'
      - 'Makefile'

permissions:
  contents: read

jobs:
  create:
    strategy:
      matrix:
        go-version:
          - "1.24"
          - "1.25"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Create tarball
      run: |
        echo "Building with $(nproc) threads"
        make tarball

    - name: Upload tarball
      uses: actions/upload-artifact@v5
      with:
        name: tarball-${{ matrix.go-version }}
        path: nextcloud-spreed-signaling*.tar.gz

  build:
    strategy:
      matrix:
        go-version:
          - "1.24"
          - "1.25"
    runs-on: ubuntu-latest
    needs: [create]
    steps:
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Download tarball
      uses: actions/download-artifact@v6
      with:
        name: tarball-${{ matrix.go-version }}

    - name: Extract tarball
      run: |
        mkdir -p tmp
        tar xvf nextcloud-spreed-signaling*.tar.gz --strip-components=1 -C tmp
        [ -d "tmp/vendor" ] || exit 1
        [ -f "tmp/version.txt" ] || exit 1

    - name: Build
      run: |
        echo "Building with $(nproc) threads"
        make -C tmp build -j$(nproc)
        UNKNOWN=$(./tmp/bin/signaling -version | grep unknown || true)
        if [ -n "$UNKNOWN" ]; then \
          echo "Found unknown version: $UNKNOWN"; \
          exit 1; \
        fi
        UNKNOWN=$(./tmp/bin/proxy -version | grep unknown || true)
        if [ -n "$UNKNOWN" ]; then \
          echo "Found unknown version: $UNKNOWN"; \
          exit 1; \
        fi

  test:
    strategy:
      matrix:
        go-version:
          - "1.24"
          - "1.25"
    runs-on: ubuntu-latest
    needs: [create]
    steps:
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Download tarball
      uses: actions/download-artifact@v6
      with:
        name: tarball-${{ matrix.go-version }}

    - name: Extract tarball
      run: |
        mkdir -p tmp
        tar xvf nextcloud-spreed-signaling*.tar.gz --strip-components=1 -C tmp
        [ -d "tmp/vendor" ] || exit 1

    - name: Run tests
      env:
        USE_DB_IP_GEOIP_DATABASE: "1"
      run: |
        make -C tmp test TIMEOUT=120s
